<div class="container" id="Game">
  
  <h1>Blue Dolphins <span class="small">March 29, 2014</span></h1>

  <div class="row">
    <div class="col-md-6">
      <div quarter="first"></div>
    </div>
    <div class="col-md-6">
      <div quarter="second"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div quarter="third"></div>
    </div>
    <div class="col-md-6">
      <div quarter="fourth"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div unavailable></div>
    </div>
  </div>

</div>  
